/* Streamly Stylesheet */
h1 {
  margin: 0;
}
header {
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  position: fixed;
}
header,
.ui-autocomplete {
  z-index: 1;
}
body {
  font-family: 'Roboto',sans-serif;
  background-color: #f77f00;
}
footer {
  text-align: center;
  background-color: #191919;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 215px;
  position: fixed;
}
#title {
  font-family: 'Pacifico',cursive;
}
#title,
#searchForm {
  display: inline;
}
#inputBox,
#shareButton,
#playlistNameBox {
  font-family: 'Roboto',sans-serif;
}
#inputBox,
#shareButton {
  top: -5px;
  border: none;
  position: relative;
  font-size: 1em;
}
#inputBox {
  border-radius: 999px;
  left: 15px;
  width: 50%;
  padding: 5px;
}
#shareButton {
  background-color: #fff;
  left: 25px;
  padding: 5px 7px;
}
td,
th,
#main,
#playlistInterface,
#shareButton,
#nextVideo {
  border-radius: 5px;
}
#main {
  text-align: center;
  background: #fff;
  margin: 110px 12% 260px;
  padding: 10px;
}
table,
#playlistNameBox {
  width: 95%;
}
table {
  margin: 10px auto;
  font-size: 1.2em;
}
#playlistNameBox {
  text-align: center;
  border: none;
  font-size: 2em;
}
td {
  padding: 5px;
}
.selected {
  background-color: #fccc99;
}
#playlistInterface {
  text-align: center;
  background-color: #000;
  margin: 6px 2% 0 2%;
  padding: 0 10px 5px;
  position: relative;
}
#backButton,
#nextVideo, #nextVideoName {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
#backButton {
  left: 5px;
}
#youtubeContainer {
  width: 300px;
  height: 175px;
  position: relative;
}
#youtube,
#pauseOverlay {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
#youtube {
  border: none;
}
#pauseOverlay {
  opacity: 0;
  z-index: 2;
}
#currentVideoTiming {
  text-align: center;
  position: relative;
}
#currentTime,
#videoTime {
  color: #fff;
}
#currentTime {
  left: 0;
}
#videoTime {
  right: 0;
}
#progressContainer {
  border-radius: 999px;
  width: 400px;
  height: 4px;
  border: 1px solid #333;
  overflow: hidden;
}
#playlistInterface,
#youtubeContainer,
#progressContainer,
#nextVideo {
  display: inline-block;
}
#nextVideo {
  margin-right: 5px;
  background-color: #fff;
  height: 75px;
  width: 300px;
  padding: 5px;
  text-align: initial;
}
#nextVideoImage {
  height: inherit;
  float: left;
}
#nextVideoName {
  display: inline-block;
  width: 195px;
  margin: 0px 0px 0px 5px;
}
#nextVideoTime {
  position: absolute;
  color: white;
  font-size: 0.7em;
  bottom: -6px;
  right: 208px;
}
#progress {
  border-radius: 999px;
  background-color: #f77f00;
  height: 100%;
  display: block;
}
#progress,
.tableButton {
  transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
}
.tableButton:hover {
  opacity: 1;
}
.tableButton {
  background: 0 0;
  float: right;
  border: none;
  opacity: .1;
}
.playButton {
  margin-top: 3px;
}
.fa {
  font-size: 2em;
}
.fa-play {
  font-size: 1.6em;
}
.fa-forward {
  position: absolute;
  top: 27px;
  left: 42px;
}
#videosTable tr {
  cursor: pointer;
}
tr.placeholder {
  background: red;
  margin: 0;
  border: none;
  display: block;
  padding: 0;
  position: relative;
}
tr.placeholder:before {
  margin-top: -5px;
  border-right: none;
  border-left-color: #000;
  left: -5px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  content: "";
  position: absolute;
}
