/* Streamly Stylesheet */
header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
}
body {
  background-color: #F77F00;
  font-family: 'Roboto', sans-serif;
}
.title {
  font-family: 'Pacifico', cursive;
}
#inputBox {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 210px;
  margin-top: 17px;
  border: 0px solid transparent;
  border-radius: 999px;
  padding: 5px;
  width: 50%;
}
h1 {
  margin: 0px;
}
table, td, th, #main, #youtube {
  border-radius: 5px;
}
td, th, #main, #youtube {
  border: 1px solid black;
}
table {
  border: 2px solid black;
  width: 95%;
  font-size: 1.5em;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
td {
  padding: 5px;
}
#main {
  margin: 110px 150px 50px 150px;
  padding: 10px;
  background: #FFF;
}
.center {
  text-align: center;
}
.selected {
  background-color: #88FF77;
}
#youtube, #pauseButton {
  width: 100%;
  max-width: 560px;
}
#youtube {
  height: 315px;
}
.tableButton {
  background: none;
  border: none;
  float: right;
  margin-top: 3px;
  
  opacity: 0;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.tableButton:hover {
  opacity: 1;
}
.tableButton img {
  width: 20px;
}
