/* Streamly Stylesheet */
h1 {
  margin: 0px;
}
header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
}
header, .ui-autocomplete {
  z-index: 1;
}
body {
  background-color: #F77F00;
  font-family: 'Roboto', sans-serif;
}
footer {
  background-color: #191919;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 215px;
}
#title {
  font-family: 'Pacifico', cursive;
}
#title, #searchForm {
  display: inline;
}
#inputBox, #shareButton, #playlistNameBox {
  font-family: 'Roboto', sans-serif;
}
#inputBox, #shareButton {
  top: -5px;
  font-size: 1em;
  position: relative;
  border: none;
}
#inputBox {
  left: 15px;
  border-radius: 999px;
  padding: 5px;
  width: 50%;
}
#shareButton {
  left: 25px;
  background-color: white;
  padding: 5px 7px 5px 7px;
}
td, th, #main, #playlistInterface, #shareButton {
  border-radius: 5px;
}
#main {
  text-align: center;
  margin: 110px 12% 260px 12%;
  padding: 10px;
  background: #FFF;
}
table, #playlistNameBox {
  width: 95%;
}
table {
  font-size: 1.2em;
  margin: 10px auto 10px auto;
}
#playlistNameBox {
  text-align: center;
  border: none;
  font-size: 2em;
}
td {
  padding: 5px;
}
.selected {
  background-color: #FCCC99;
}
#playlistInterface {
  display: inline-block;
  position: relative;
  background-color: black;
  padding: 0px 10px 5px 10px;
  margin: 6px 0px 0px 0px;
  text-align: center;
}
#backButton, #forwardButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#backButton {
  left: 5px;
}
#forwardButton {
  right: 5px;
}
#youtubeContainer {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 175px;
}
#youtube, #pauseOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}
#youtube {
  border: none;
}
#pauseOverlay {
  opacity: 0;
  z-index: 2;
}
#currentVideoTiming {
  position: relative;
  text-align: center;
}
#currentTime, #videoTime {
  color: #FFF;
}
#currentTime {
  left: 0;
}
#videoTime {
  right: 0;
}
#progressContainer {
  display: inline-block;
  overflow: hidden;
  width: 400px;
  height: 4px;
  border: 1px solid #333333;
  border-radius: 999px;
}
#progress {
  display: block;
  height: 100%;
  background-color: #F77F00;
  border-radius: 999px;
  
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
}
.tableButton {
  background: none;
  border: none;
  float: right;
  opacity: 0.1;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
}
.tableButton:hover {
  opacity: 1;
}
.playButton {
  margin-top: 3px;
}
.fa {
  font-size: 2em;
}
.fa-play {
  font-size: 1.6em;
}

/* Styles for draggable videosTable */
#videosTable tr {
  cursor: pointer;
}
tr.placeholder {
  display: block;
  background: red;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
tr.placeholder:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: black;
  margin-top: -5px;
  left: -5px;
  border-right: none;
}
